@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
:root{
    --Amarelo:#F2AB27;

    --Azul: #073359;

    --AzulC:#048ABF;

    --Branco:#F2F2F2;

    --Preto:#000000;

    --Verde:#0D8C44;

    --Cinza:#204858;

} 

*{
    font-family: "Limelight";
}

html, body, .conteiner-fluid{
    margin: 0;
    border:0;
    padding: 0;
    background-color: var(--Azul);
}

header,footer{
    margin: 0;
    background-color: var(--AzulC);
}

#Menu{
    padding-top: 1.7%;
    padding-left: 50%;
    text-align: center;
    align-items: center;
    font-size: larger;
    display: inline;
}

.menuTitulos{
    color: var(--Branco);
}
.menuTitulos:hover{
    color: var(--Amarelo);
}

.Titulos,.card-title, .card-body h5, .subtitulos{
    text-align: center;
    color:var(--Amarelo);
}

.card{
    width: 18rem;
}

.card-body{
    background-color: var(--Cinza);
}
.card-text, .card-body p{
    color:var(--Verde);
}


.bg-blue-light{
    background-color: var(--AzulC);
}

@media(max-width:800px){
    #Menu{
        padding-top: 1.7%;
        padding-left: 0;
        text-align: center;
        align-items: center;
        font-size: larger;
        display: inline;
    }
    #Imagem-logo img{
        padding-left:200px;
        width: 200px;
    }
}
